.article {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    gap: 24px;
    background-color: #fff;
    padding: 10px 160px;
    border-radius: 12px;
    border: 1px solid #edeffb;
    transform: translateY(10px);
    /* Начальное положение, смещаем вниз */
    animation: fadeIn 0.5s ease-out forwards;
    /* Применяем анимацию */


    /* Определяем анимацию keyframes */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            /* Начало анимации - элемент невидим */
            transform: translateY(10px);
            /* Начальное смещение вниз */
        }

        100% {
            opacity: 1;
            /* Конец анимации - элемент видим */
            transform: translateY(0);
            /* Элемент возвращается в исходное положение */
        }
    }

    &__header {}

    &__info {
        display: flex;
        gap: 24px;
        width: 100%;
        justify-content: space-between;
    }

    &__title {
        color: #191919;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
    }

    &__text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6;
        padding-bottom: 24px;
        white-space: pre-wrap;
    }

    &__author, &__date {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #8e8e9a;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}